<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Catch Of The Day</title>
  <link rel="stylesheet" href="./normalize.css">
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <div class="app flex">
    <div class="menu has-scroll">
      <div class="menu__header">
        <h1>Catch</h1>
        <span class="header__little">of the</span>
        <h1>Day</h1>
        <div class="header__subheader">
          <h2>Fresh Seafood Market</h2>
        </div>
      </div>
      <!-- Items -->
      <div class="menu__item flex sold-out">
        <div class="menu__img inline">
          <img src="./images/test.jpg" alt="">
        </div>
        <div class="menu__content inline">
          <div class="menu__product-header flex">
            <h3 class="menu__title">Pacific Halibut</h3>
            <span class="menu__price">$17.24</span>
          </div>
          <div class="menu__desc">Everyones favorite white fish. We will cut it to the size you need and ship it.</div>
          <div class="menu__btn">
            <button class="btn">Add to order</button>
          </div>
        </div>
      </div>
      <!-- End item -->
      <div class="menu__item flex">
        <div class="menu__img inline">
          <img src="./images/test.jpg" alt="">
        </div>
        <div class="menu__content inline">
          <div class="menu__product-header flex">
            <h3 class="menu__title">Pacific Halibut</h3>
            <span class="menu__price">$17.24</span>
          </div>
          <div class="menu__desc">Everyones favorite white fish. We will cut it to the size you need and ship it.</div>
          <div class="menu__btn">
            <button class="btn">Add to order</button>
          </div>
        </div>
      </div>
      <!-- End item -->
      <div class="menu__item flex">
        <div class="menu__img inline">
          <img src="./images/test.jpg" alt="">
        </div>
        <div class="menu__content inline">
          <div class="menu__product-header flex">
            <h3 class="menu__title">Pacific Halibut</h3>
            <span class="menu__price">$17.24</span>
          </div>
          <div class="menu__desc">Everyones favorite white fish. We will cut it to the size you need and ship it.</div>
          <div class="menu__btn">
            <button class="btn">Add to order</button>
          </div>
        </div>
      </div>
      <!-- End item -->
      <div class="menu__item flex">
        <div class="menu__img inline">
          <img src="./images/test.jpg" alt="">
        </div>
        <div class="menu__content inline">
          <div class="menu__product-header flex">
            <h3 class="menu__title">Pacific Halibut</h3>
            <span class="menu__price">$17.24</span>
          </div>
          <div class="menu__desc">Everyones favorite white fish. We will cut it to the size you need and ship it.</div>
          <div class="menu__btn">
            <button class="btn">Add to order</button>
          </div>
        </div>
      </div>
    </div>
    <div class="order has-scroll">
      <h2 class="title">Your order</h2>
      <div class="order__item flex">
        <div class="order__name">1lbs Pacific Halibut</div>
        <div class="order__price">$17.24</div>
      </div>
      <div class="order__item flex">
        <div class="order__name">1lbs Pacific Halibut</div>
        <div class="order__price">$17.24</div>
      </div>
      <div class="order__total flex">
        <div>Total</div>
        <div>$17.24</div>
      </div>
    </div>
    <div class="inventory has-scroll">
      <h2 class="title">Inventory</h2>
      <div class="inventory__item bigger-border">
        <div class="inventory__top-row flex">
          <input class="inventory__name input padded inline lesser-border" placeholder="Fish name" />
          <input class="inventory__price input padded inline lesser-border" placeholder="Fish price" />
          <input class="inventory__status input padded inline lesser-border" placeholder="Fish status" />
        </div>
        <textarea class="inventory__desc padded lesser-border input" placeholder="Fish Desc"></textarea>
        <input class="inventory__path input padded inline lesser-border" placeholder="Fish Image" />
        <div class="inventory__button lesser-border">
          <button class="btn remove-fish padded">Remove fish</button>
        </div>
      </div>
      <br>
      <button class="btn">Load sample fishes</button>
    </div>
  </div>
</body>

</html>